h1= title
p Welcome to #{title}

form#user-form
  input(name="username", id="username", type="text")
  input(name="submit", type="submit")
  

form#preference-form
  input(name="place", type="radio", value="le-vie")
  label Le vie
  input(name="place", type="radio", value="pino")
  label Pino
  input(name="place", type="radio", value="roiter")
  label Roiter

div#places

h2 Log
ul#log
